.bgbox{
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.7);
	display: none;
}
.divbox{
	position: fixed;
	left: 50%;
	top: 50%;
	width: 500px;
	background-color: #fff;
	margin-left:-270px;
	margin-top: -220px;
	padding: 20px;
	display: none;
}